.in {
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 670px) {
  .col-01 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 45px;
  }
  .span-01 {
    width: 45px;
  }
  .pre-01 {
    padding-left: 55px;
  }
  .suf-01 {
    padding-right: 55px;
  }
  .col-02 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 100px;
  }
  .span-02 {
    width: 100px;
  }
  .pre-02 {
    padding-left: 110px;
  }
  .suf-02 {
    padding-right: 110px;
  }
  .col-03 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 155px;
  }
  .span-03 {
    width: 155px;
  }
  .pre-03 {
    padding-left: 165px;
  }
  .suf-03 {
    padding-right: 165px;
  }
  .col-04 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 210px;
  }
  .span-04 {
    width: 210px;
  }
  .pre-04 {
    padding-left: 220px;
  }
  .suf-04 {
    padding-right: 220px;
  }
  .col-05 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 265px;
  }
  .span-05 {
    width: 265px;
  }
  .pre-05 {
    padding-left: 275px;
  }
  .suf-05 {
    padding-right: 275px;
  }
  .col-06 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 320px;
  }
  .span-06 {
    width: 320px;
  }
  .pre-06 {
    padding-left: 330px;
  }
  .suf-06 {
    padding-right: 330px;
  }
  .col-07 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 375px;
  }
  .span-07 {
    width: 375px;
  }
  .pre-07 {
    padding-left: 385px;
  }
  .suf-07 {
    padding-right: 385px;
  }
  .col-08 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 430px;
  }
  .span-08 {
    width: 430px;
  }
  .pre-08 {
    padding-left: 440px;
  }
  .suf-08 {
    padding-right: 440px;
  }
  .col-09 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 485px;
  }
  .span-09 {
    width: 485px;
  }
  .pre-09 {
    padding-left: 495px;
  }
  .suf-09 {
    padding-right: 495px;
  }
  .col-10 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 540px;
  }
  .span-10 {
    width: 540px;
  }
  .pre-10 {
    padding-left: 550px;
  }
  .suf-10 {
    padding-right: 550px;
  }
  .col-11 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 595px;
  }
  .span-11 {
    width: 595px;
  }
  .pre-11 {
    padding-left: 605px;
  }
  .suf-11 {
    padding-right: 605px;
  }
  .col-12 {
    float: left;
    margin-left: 10px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 650px;
  }
  .span-12 {
    width: 650px;
  }
  .pre-12 {
    padding-left: 660px;
  }
  .suf-12 {
    padding-right: 660px;
  }
  .col-first {
    margin-left: 0;
  }
  .in {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
  }
  .in:before,
  .in:after {
    content: " ";
    display: table;
  }
  .in:after {
    clear: both;
  }
}
@media screen and (min-width: 836px) {
  .col-01 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 48px;
  }
  .span-01 {
    width: 48px;
  }
  .pre-01 {
    padding-left: 68px;
  }
  .suf-01 {
    padding-right: 68px;
  }
  .col-02 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 116px;
  }
  .span-02 {
    width: 116px;
  }
  .pre-02 {
    padding-left: 136px;
  }
  .suf-02 {
    padding-right: 136px;
  }
  .col-03 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 184px;
  }
  .span-03 {
    width: 184px;
  }
  .pre-03 {
    padding-left: 204px;
  }
  .suf-03 {
    padding-right: 204px;
  }
  .col-04 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 252px;
  }
  .span-04 {
    width: 252px;
  }
  .pre-04 {
    padding-left: 272px;
  }
  .suf-04 {
    padding-right: 272px;
  }
  .col-05 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 320px;
  }
  .span-05 {
    width: 320px;
  }
  .pre-05 {
    padding-left: 340px;
  }
  .suf-05 {
    padding-right: 340px;
  }
  .col-06 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 388px;
  }
  .span-06 {
    width: 388px;
  }
  .pre-06 {
    padding-left: 408px;
  }
  .suf-06 {
    padding-right: 408px;
  }
  .col-07 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 456px;
  }
  .span-07 {
    width: 456px;
  }
  .pre-07 {
    padding-left: 476px;
  }
  .suf-07 {
    padding-right: 476px;
  }
  .col-08 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 524px;
  }
  .span-08 {
    width: 524px;
  }
  .pre-08 {
    padding-left: 544px;
  }
  .suf-08 {
    padding-right: 544px;
  }
  .col-09 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 592px;
  }
  .span-09 {
    width: 592px;
  }
  .pre-09 {
    padding-left: 612px;
  }
  .suf-09 {
    padding-right: 612px;
  }
  .col-10 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 660px;
  }
  .span-10 {
    width: 660px;
  }
  .pre-10 {
    padding-left: 680px;
  }
  .suf-10 {
    padding-right: 680px;
  }
  .col-11 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 728px;
  }
  .span-11 {
    width: 728px;
  }
  .pre-11 {
    padding-left: 748px;
  }
  .suf-11 {
    padding-right: 748px;
  }
  .col-12 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 796px;
  }
  .span-12 {
    width: 796px;
  }
  .pre-12 {
    padding-left: 816px;
  }
  .suf-12 {
    padding-right: 816px;
  }
  .col-first {
    margin-left: 0;
  }
  .in {
    margin-left: auto;
    margin-right: auto;
    width: 796px;
  }
  .in:before,
  .in:after {
    content: " ";
    display: table;
  }
  .in:after {
    clear: both;
  }
}
@media screen and (min-width: 980px) {
  .col-01 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 60px;
  }
  .span-01 {
    width: 60px;
  }
  .pre-01 {
    padding-left: 80px;
  }
  .suf-01 {
    padding-right: 80px;
  }
  .col-02 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 140px;
  }
  .span-02 {
    width: 140px;
  }
  .pre-02 {
    padding-left: 160px;
  }
  .suf-02 {
    padding-right: 160px;
  }
  .col-03 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 220px;
  }
  .span-03 {
    width: 220px;
  }
  .pre-03 {
    padding-left: 240px;
  }
  .suf-03 {
    padding-right: 240px;
  }
  .col-04 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 300px;
  }
  .span-04 {
    width: 300px;
  }
  .pre-04 {
    padding-left: 320px;
  }
  .suf-04 {
    padding-right: 320px;
  }
  .col-05 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 380px;
  }
  .span-05 {
    width: 380px;
  }
  .pre-05 {
    padding-left: 400px;
  }
  .suf-05 {
    padding-right: 400px;
  }
  .col-06 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 460px;
  }
  .span-06 {
    width: 460px;
  }
  .pre-06 {
    padding-left: 480px;
  }
  .suf-06 {
    padding-right: 480px;
  }
  .col-07 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 540px;
  }
  .span-07 {
    width: 540px;
  }
  .pre-07 {
    padding-left: 560px;
  }
  .suf-07 {
    padding-right: 560px;
  }
  .col-08 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 620px;
  }
  .span-08 {
    width: 620px;
  }
  .pre-08 {
    padding-left: 640px;
  }
  .suf-08 {
    padding-right: 640px;
  }
  .col-09 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 700px;
  }
  .span-09 {
    width: 700px;
  }
  .pre-09 {
    padding-left: 720px;
  }
  .suf-09 {
    padding-right: 720px;
  }
  .col-10 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 780px;
  }
  .span-10 {
    width: 780px;
  }
  .pre-10 {
    padding-left: 800px;
  }
  .suf-10 {
    padding-right: 800px;
  }
  .col-11 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 860px;
  }
  .span-11 {
    width: 860px;
  }
  .pre-11 {
    padding-left: 880px;
  }
  .suf-11 {
    padding-right: 880px;
  }
  .col-12 {
    float: left;
    margin-left: 20px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 940px;
  }
  .span-12 {
    width: 940px;
  }
  .pre-12 {
    padding-left: 960px;
  }
  .suf-12 {
    padding-right: 960px;
  }
  .col-first {
    margin-left: 0;
  }
  .in {
    margin-left: auto;
    margin-right: auto;
    width: 940px;
  }
  .in:before,
  .in:after {
    content: " ";
    display: table;
  }
  .in:after {
    clear: both;
  }
}
@media screen and (min-width: 1320px) {
  .col-01 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 84px;
  }
  .span-01 {
    width: 84px;
  }
  .pre-01 {
    padding-left: 108px;
  }
  .suf-01 {
    padding-right: 108px;
  }
  .col-02 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 192px;
  }
  .span-02 {
    width: 192px;
  }
  .pre-02 {
    padding-left: 216px;
  }
  .suf-02 {
    padding-right: 216px;
  }
  .col-03 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 300px;
  }
  .span-03 {
    width: 300px;
  }
  .pre-03 {
    padding-left: 324px;
  }
  .suf-03 {
    padding-right: 324px;
  }
  .col-04 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 408px;
  }
  .span-04 {
    width: 408px;
  }
  .pre-04 {
    padding-left: 432px;
  }
  .suf-04 {
    padding-right: 432px;
  }
  .col-05 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 516px;
  }
  .span-05 {
    width: 516px;
  }
  .pre-05 {
    padding-left: 540px;
  }
  .suf-05 {
    padding-right: 540px;
  }
  .col-06 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 624px;
  }
  .span-06 {
    width: 624px;
  }
  .pre-06 {
    padding-left: 648px;
  }
  .suf-06 {
    padding-right: 648px;
  }
  .col-07 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 732px;
  }
  .span-07 {
    width: 732px;
  }
  .pre-07 {
    padding-left: 756px;
  }
  .suf-07 {
    padding-right: 756px;
  }
  .col-08 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 840px;
  }
  .span-08 {
    width: 840px;
  }
  .pre-08 {
    padding-left: 864px;
  }
  .suf-08 {
    padding-right: 864px;
  }
  .col-09 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 948px;
  }
  .span-09 {
    width: 948px;
  }
  .pre-09 {
    padding-left: 972px;
  }
  .suf-09 {
    padding-right: 972px;
  }
  .col-10 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 1056px;
  }
  .span-10 {
    width: 1056px;
  }
  .pre-10 {
    padding-left: 1080px;
  }
  .suf-10 {
    padding-right: 1080px;
  }
  .col-11 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 1164px;
  }
  .span-11 {
    width: 1164px;
  }
  .pre-11 {
    padding-left: 1188px;
  }
  .suf-11 {
    padding-right: 1188px;
  }
  .col-12 {
    float: left;
    margin-left: 24px;
/* Prevent column colapse if empty */
    min-height: 1px;
    width: 1272px;
  }
  .span-12 {
    width: 1272px;
  }
  .pre-12 {
    padding-left: 1296px;
  }
  .suf-12 {
    padding-right: 1296px;
  }
  .col-first {
    margin-left: 0;
  }
  .in {
    margin-left: auto;
    margin-right: auto;
    width: 1272px;
  }
  .in:before,
  .in:after {
    content: " ";
    display: table;
  }
  .in:after {
    clear: both;
  }
}
