html {
  background: #262a2b;
  color: #a0dff1;
  font-weight: 100;
}

h1,
h2,
h3 {
  font-weight: 100;
}

.article-title {
  color: #34ccfe;
  text-align: center;
}

.article-title i,
.article-title em {
  color: #74e2fb;
  display: block;
  font-style: normal;
}

.article-synopsis {
  color: #fff;
}

.article-byline {
  color: #656565;
}

.article-content h1,
.article-content h2 {
  color: #ffcc66;
}
.article-content h3,
.article-content h4,
.article-content h5,
.article-content h6 {
  color: #fb934c;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}
