.theme-console {
  background: #262a2b;
  color: #a0dff1;
  font-weight: 100;
}

.theme-console h1,
.theme-console h2,
.theme-console h3 {
  font-weight: 100;
}

.theme-console a {
  color: #42b6cd;
  font-weight: 400;
  text-decoration: none;
}

.theme-console a:hover {
  color: #2e7b95;
}

.theme-console .article-title {
  color: #34ccfe;
  font-size: 72px;
  line-height: 81px;
  margin: 96px 0;
  text-align: center;
}

.theme-console .article-title i,
.theme-console .article-title em {
  color: #74e2fb;
  display: block;
  font-style: normal;
}

.theme-console .article-synopsis {
  color: #fff;
  font-size: 24px;
  margin: 45px 0;
}

.theme-console .article-byline {
  color: #656565;
}

.theme-console .article-content h1,
.theme-console .article-content h2 {
  color: #ffcc66;
}

.theme-console .article-content h3,
.theme-console .article-content h4,
.theme-console .article-content h5,
.theme-console .article-content h6 {
  color: #fb934c;
  font-weight: 500;
  text-transform: uppercase;
}

.theme-console .article-content blockquote {
  border-left: 1px dashed #656565;
  margin: 36px 0;
  padding-left: 18px;
}

.theme-console .article-content blockquote cite {
  color: #ffcc66;
  display: block;
  font-style: italic;
}

.theme-console .series {
  list-style: none;
  padding: 0;
}

.theme-console .series-item {
  margin-bottom: 18px;
}

.theme-console .series-item > a,
.theme-console .series-item > span {
  border-bottom: 3px solid #656565;
  display: block;
  color: #999;
  font-weight: 100;
  font-style: italic;
  padding: 0 0 18px;
}

.theme-console .series-item > a > i,
.theme-console .series-item > a > em,
.theme-console .series-item > span > i,
.theme-console .series-item > span > em {
  color: #656565;
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  text-transform: uppercase;
}

.theme-console .series-activated > a {
  color: #34ccfe;
  border-color: #34ccfe;
}

.theme-console .series-activated > a > i {
  color: #2e7b95;
}