<!DOCTYPE html>
{% block html_tag %}
<html>
{% endblock %}
  <head>
    {% block meta %}
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="description" content="{{ description }}">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}
    {% block title %}
      <title>
        {% if page.title %}
          {{ env.helpers.stripHtml(page.title) }} |
        {% endif %}
        {{ name }}
      </title>
    {% endblock %}
    {% block styles %}
      <link rel="stylesheet" href="/vendor/normalize.css">
    {% endblock %}
    {% block styles_extra %}
      {% for url in page.metadata.styles %}
        <link rel="stylesheet" href="{{ url }}">
      {% endfor %}
    {% endblock %}
  </head>
  <body>
  {% block header %}
  {% endblock %}
  {% block main %}
    {{ typogr(page.html).typogrify() | safe }}
  {% endblock %}
  {% block footer %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
  {% block scripts_extra %}
    {% for url in page.metadata.scripts %}
      <script type="text/javascript" src="{{ url }}"></script>
    {% endfor %}
  {% endblock %}
  </body>
</html>
